fire
simple-parsing
pyyaml
safetensors
tensorboard
tqdm
notebook
mistral-common>=1.3.1
numpy == 1.24.4
sentencepiece == 0.1.99
torch==2.2
triton==2.2
xformers==0.0.24
tiktoken==0.4.0
blobfile
gritlm
faiss-gpu
transformers
einops